<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	
	<Appenders>
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{DATE}-%-5level %x %c{1} - %m%n" />
		</Console>
		
		<RollingFile name="traceLog" fileName="trace.log" filePattern="trace-%d{yyyy-MM-dd-HH}.log">
			<PatternLayout>
				<pattern>%d{DATE}-%-5level [%X{sessionId}] %c{1} - %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>
				
	</Appenders>

	<Loggers>
		
		<AsyncLogger name="com.citi.cpih" level="INFO" additivity="false">
			<AppenderRef ref="traceLog" />
		</AsyncLogger>
								
	</Loggers>
	
</Configuration>